$!{define.vm}

#save("/entity", ".java")
#setPackageSuffix("entity")
$!{autoImport.vm}
#set($hasLogicDelete = false)
#foreach($column in $tableInfo.otherColumn)
#if($column.name == "deleted" || $column.name == "delFlag")
#set($hasLogicDelete = true)
#end
#end

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
#if($hasLogicDelete)
import com.baomidou.mybatisplus.annotation.TableLogic;
#end
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Getter;
import lombok.Setter;

#tableComment("表实体类")
@Getter
@Setter
@TableName("$!{tableInfo.obj.name}")
public class $!{tableInfo.name} {

#foreach($column in $tableInfo.pkColumn)
#if($column.comment)
  /**
   * $!{column.comment}
   */
#end
  @TableId(type = IdType.ASSIGN_UUID)
  private $!{tool.getClsNameByFullName($column.type)} $!{column.name};

#end
#foreach($column in $tableInfo.otherColumn)
#if($column.comment)
  /**
   * $!{column.comment}
   */
#end
#if($column.name == "deleted" || $column.name == "delFlag")
  @TableLogic
#end
  private $!{tool.getClsNameByFullName($column.type)} $!{column.name};

#end
}
