$!{define.vm}

#setTableSuffix("Service")
#save("/service", "Service.java")
#setPackageSuffix("service")
$!{autoImport.vm}

import com.baomidou.mybatisplus.extension.service.IService;

#tableComment("表服务接口")
public interface $!{tableName} extends IService<$!{tableInfo.name}> {}
