## 生成 MyBatis-Plus Service 实现。
$!{define.vm}

#setTableSuffix("ServiceImpl")
#save("/service/impl", "ServiceImpl.java")
#setPackageSuffix("service.impl")
$!{autoImport.vm}

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;

/**
 * $!{tableInfo.comment} 表基础服务的实现。
 *
 * <p>{@code @Service} 将本类注册为 Spring Bean；{@code ServiceImpl} 复用 MyBatis-Plus 的单表 CRUD。跨表写操作应在具体方法上定义事务边界。
 *
 * @author LynasTing
 */
@Service
public class $!{tableName}
    extends ServiceImpl<$!{tableInfo.name}Mapper, $!{tableInfo.name}>
    implements $!{tableInfo.name}Service {}
